 <div class="my-back">
  <section class="hero is-black">
    <div class="has-text-centered p-3">
      <div class="container">
        <h1 class="title">
          My Page
        </h1>
      </div>
    </div>
  </section>

  <section class="section">
    <div class="container">
      <div class="columns is-centered">
        <div class="column is-5">
          <figure class="image is-4by3">
            <%= attachment_image_tag @user, :profile_image, fallback: "noimage.png", class: "profile_image" %>
          </figure>
          <div class="card">
            <div class="column is-8">
              <table class="table is-fullwidth">
                <tr>EntryName
                  <td class="is-size-4">
                    <strong><%= @user.user_name %></strong>
                  </td>
                  <% if current_user.id == @user.id %>
                
                    <td>
                      <%= @user.email %>
                    </td>
                    <td>
                      <%= link_to "編集", edit_user_path(@user), class: "button is-primary" %>
                    </td>
                  <% end %>
                </tr>
              </table>
              <table class="table is-fullwidth">
                <tr>
                  <td>
                    <%= @user.profile %>
                  </td>
                </tr>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="section">
    <div class="container">
      <div class="columns is-multiline">
        <% @user.posts.each do |post| %>
          <div class="column is-4">
            <div class="card">
              <div class="card-image">
                <figure class="image is-4by3">
            
                  <%= attachment_image_tag post, :image %>
            
                </figure>
              </div>
              <div class="card-content">
                <div class="media">
                  <div class="media-content">
                    <%= link_to post_path(post), class: "panel-block" do %>
                    <span class="panel-icon">
                    <i class="far fa-eye" aria-hidden="true"></i>
                    </span>
                    Look Post
                    <% end %>
                    <% if @user.id == current_user.id %>
                      <%= link_to edit_post_path(post), class: "panel-block" do %>
                      <span class="panel-icon">
                      <i class="fas fa-book" aria-hidden="true"></i>
                      </span>
                      この投稿を編集する
                      <% end %>
                      <%= link_to post_path(post), method: :delete, data: {confirm: "削除しますか？"}, class: "panel-block" do %>
                      <span class="panel-icon">
                      <i class="fas fa-book" aria-hidden="true"></i>
                      </span>
                      この投稿を削除する
                      <% end %>
                    <% end %>
                  </div>
                </div>
                <div class="content">
                  <time><%= post.updated_at.strftime("%Y-%m-%d %H:%M") %></time>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </section>
</div>