<section class="hero is-success">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        詳細
      </h1>
    </div>
  </div>
</section>

<section class="section">
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-7">
        <div class="card">
          <div class="card-image">
            <figure class="image is-4by3">
              <%= attachment_image_tag @user, :profile_image, fallback: "noimage.png", class: "profile_image" %>
            </figure>
          </div>
          <div class="column is-8">
            <table class="table is-fullwidth">
              <tr>
                <td class="is-size-4">
                  <strong><%= @user.user_name %></strong>
                </td>
                <% if current_user.id == @user.id %>
               
                  <td>
                    <%= @user.email %>
                  </td>
                  <td>
                    <%= link_to "編集", edit_user_path(@user), class: "button is-primary" %>
                  </td>
                <% end %>
              </tr>
            </table>
            <table class="table is-fullwidth">
              <tr>
                <td>
                  <%= @user.profile %>
                </td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>