 <div class="my-back">
  <section class="section">
    <div class="container">
      <div class="columns is-centered">
        <div class="column is-5">
          <figure class="image is-4by3">
            <%= attachment_image_tag @user, :profile_image, fallback: "noimage.png", class: "profile_image" %>
          </figure>
            <div class="name-holder">
          <div class="panel">
              <i class="fas fa-user" aria-hidden="true"></i>
            名前    <%= @user.user_name %>
          </div>     
        </div>
        <table class="profile-comment">
          <td>
            <%= @user.profile %>
          </td>
        </table>
        <% if current_user.id == @user.id %>
          <br>
            <%= link_to "編集", edit_user_path(@user), class: "button is-white" %>
        <% end %>
      </div>
    </div>
  </section>

  <section class="section">
    <div class="container">
      <div class="columns is-multiline">
        <% @user.posts.each do |post| %>
          <div class="column is-4">
            <div class="card">
              <div class="card-image">
                <figure class="image is-4by3">
                  <%= attachment_image_tag post, :image %>
                </figure>
              </div>
              <div class="card-content">
                <div class="media">
                  <div class="media-content">
                    <%= link_to post_path(post), class: "panel-block" do %>
                    <span class="panel-icon">
                    <i class="far fa-eye" aria-hidden="true"></i>
                    </span>
                    回答を見る
                    <% end %>
                    <% if @user.id == current_user.id %>
                      <%= link_to edit_post_path(post), class: "panel-block" do %>
                      <span class="panel-icon">
                      <i class="fas fa-book" aria-hidden="true"></i>
                      </span>
                      この投稿を編集する
                      <% end %>
                      <%= link_to post_path(post), method: :delete, data: {confirm: "削除しますか？"}, class: "panel-block" do %>
                      <span class="panel-icon">
                      <i class="fas fa-book" aria-hidden="true"></i>
                      </span>
                      この投稿を削除する
                      <% end %>
                    <% end %>
                  </div>
                </div>
                <div class="content">
                  <time><%= post.updated_at.strftime("%Y-%m-%d %H:%M") %></time>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </section>
</div>