<div class="rank-back">
  <div class="rank-content">
    <table class="likes-table">
      <% last_like = 0 %>
      <% j = 1 %>
      <% @month_post_like_ranks .each.with_index(1) do |rank, i| %>
        <% if i == 1 %>
          <% last_like = rank.likes.count %>
        <% end %>
        <% if rank.likes.count != last_like %>
          <% j = i %>
          <tbody>
          <tr>
            <th>第<%= j %>位  <%= rank.user.user_name %>
            <%= rank.likes.count %>いいね
            <% last_like = rank.likes.count %>
          </th>
          </tr>
          <tfoot>
          <tr>
        <% else %>
          <tbody>
          <tr>
            <th>第<%= j %>位  <%= rank.user.user_name %>
            <%= rank.likes.count %>いいね
            <% last_like = rank.likes.count %>
          </th>
          <tfoot>
          <tr>
        <% end %>
      <% end %>
      <thead>
      <tr>
      <th>写真で一言 月間ランキング</th>
      </tr>
      </thead>
    </table>
    <table class="smiles-table">
      <% last_smile = 0 %>
      <% j = 1 %>
      <% @month_title_smile_ranks .each.with_index(1) do |rank, i| %>
        <% if i == 1 %>
          <% last_smile = rank.smiles.count %>
        <% end %>
        <% if rank.smiles.count != last_smile %>
          <% j = i %>
          <tbody>
          <tr>
            <th>第<%= j %>位  <%= rank.user.user_name %>
            <%= rank.smiles.count %>いいね
            <% last_smile = rank.smiles.count %>
          </th>
          </tr>
          <tfoot>
          <tr>
        <% else %>
          <tbody>
          <tr>
            <th>第<%= j %>位  <%= rank.user.user_name %>
            <%= rank.smiles.count %>いいね
            <% last_smile = rank.smiles.count %>
          </th>
          <tfoot>
          <tr>
        <% end %>
      <% end %>
      <thead>
      <tr>
      <th>お題で一言 月間ランキング</th>
      </tr>
      </thead>
    </table>
  </div>

  <div class="select-box">
    <div class="roule">月間1位だった人がご褒美を選択してルーレットを回してください
    </div>
    <select>
    <option>ご褒美</option>
    <option>休憩しましょう!自販機1回奢り</option>
    <option>無礼講だ!一日だけタメ口を使える</option>
    <option>呑み行きましょう!呑みの店決め</option>
    <option>朝までハシゴ!呑み1軒奢り</option>
    <option>休憩しましょう!ジュース奢り</option>
    </select>
  </div>
  <div id="large_block">
    <div><input type="text" name="name"></p></div>
    <div><input type="text" name="name"></p></div>
    <div><input type="text" name="name"></p></div>
    <div><input type="text" name="name"></p></div>
    <div><input type="text" name="name"></p></div>
    <div><input type="text" name="name"></p></div>
    <div><input type="text" name="name"></p></div>
    <div><input type="text" name="name"></p></div>
    </div>
    <div class="roulette-btns">
      <div id="btn">
        <button id="start">スタート</button>
        <button id="stop">ストップ</button>
        <button id="reset">リセット</button>
      </div>
    </div>
  </div>
  <%= javascript_pack_tag 'index' %>

</div>