 <div class="entry-back">
  <section class="hero is-danger">
    <div class="container">
      <h1 class="title">
        Ranking
      </h1>
    </div>
  </section>
  
  <h2 class="rank-title">Like Ranking</h2>
  
  <% last_like = 0 %>
  <% j = 1 %>
  <% @month_post_like_ranks .each.with_index(1) do |rank, i| %>
    <% if i == 1 %>
      <% last_like = rank.likes.count %>
    <% end %>
 
    <% if rank.likes.count != last_like %>
      <% j = i %>
      <ul class ="ranking">
        <li>  第<%= j %>位  <%= rank.user.user_name %></li>
        <li><%= rank.likes.count %>いいね</li>
        <li><% last_like = rank.likes.count %> </li>
      </ul>
        
    <% else %>
      <ul class ="ranking">
        <li> 第<%= j %>位 <%= rank.user.user_name %> </li>
          <% last_like = rank.likes.count %>
         <li><%= rank.likes.count %>いいね</li>
      </ul>
    <% end %>

  <% end %>

  <h2 class="rank-title">Title like Ranking</h2>

  <% last_smile = 0 %>
  <% j = 1 %>
  <% @month_title_smile_ranks .each.with_index(1) do |rank, i| %>
    <% if i == 1 %>
      <% last_smile = rank.smiles.count %>
    <% end %>
 
    <% if rank.smiles.count != last_smile %>
      <% j = i %>
      <ul class ="ranking">
        <li>  第<%= j %>位  <%= rank.user.user_name %></li>
        <li><%= rank.smiles.count %>いいね</li>
        <li><% last_smile = rank.smiles.count %> </li>
      </ul>
        
    <% else %>
      <ul class ="ranking">
        <li> 第<%= j %>位 <%= rank.user.user_name %> </li>
          <% last_smile = rank.smiles.count %>
         <li><%= rank.smiles.count %>いいね</li>
      </ul>
    <% end %>

  <% end %>

  
  



  <div id="large_block">
    <div>1</div>
    <div>2</div>
    <div>3</div>
    <div>4</div>
    <div>5</div>
    <div>6</div>
    <div>7</div>
    <div>8</div>
    </div>
    <div id="btn">
      <button id="start">スタート</button>
      <button id="stop">ストップ</button>
      <button id="reset">リセット</button>
    </div>
  </div>
  <%= javascript_pack_tag 'index' %>
</div>