<div class="title-back">
  <% @titles.each do |title| %>
    <div class ="titles">
      <div class="theme-title">
        <%= title.theme.name %>
      </div>
    </div>
    <div class="content-box">
      <% if title.user.id %>
        <div class="answer">
          <%= title.content %>
        </div>
      <% end %>
    </div>
    <div class="flex-buttons-title">
      <div id="smiles_buttons_<%= title.id %>">
        <%= render partial: 'smiles/smile', locals: {title: title} %>
      </div>
    </div>
    <%= link_to user_path(title.user), class: "panel-block" do %>
      <div class="panel">
        <i class="fas fa-user" aria-hidden="true"></i>
        名前  <%= title.user.user_name %>
      </div>
    <% end %> 
    <div class="content-time">
      <time><%= title.updated_at.strftime("%Y-%m-%d %H:%M") %></time>
    </div>
  <% end %>
</div>