<div class="my-back">
  <% @posts.each do |post| %>
    <div class="column is-6">
      <div class="post-title">
        写真で一言
      </div>
      <div class="image is-5">
        <%= image_tag post.image %>
      </div>
      <div class="is-size-2">
        <%= post.body %>
      </div>
      <%= link_to user_path(post.user.id), class: "panel-block" do %>
          <div class="panel">
            <i class="fas fa-user" aria-hidden="true"></i>
            名前  <%= post.user.user_name %>
          </div>
      <% end %> 
      <div class="flex-buttons">
        <div id="likes_buttons_<%= post.id %>">
          <%= render partial: 'likes/like', locals: {post: post} %>
        </div>
      </div>
    </div>
    <div class="updated">
      <time><%= post.updated_at.strftime("%Y-%m-%d %H:%M") %></time>
    </div>
  <% end %>
</div>

