<!DOCTYPE html>
<html>
  <head>
    
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    
    <script src="//code.jquery.com/jquery-3.3.1.min.js" defer></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.min.css" integrity="sha256-UzFD2WYH2U1dQpKDjjZK72VtPeWP50NoJjd26rnAdUI=" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.0/css/all.css" integrity="sha384-Bfad6CLCknfcloXFOyFnlgtENryhrpZCe29RTifKEixXQZ38WheV+i/6YWSzkz3V" crossorigin="anonymous">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    
    <% if flash[:alert] %>
      <div class="notification is-danger">
        <p class="alert"><%= alert %></p>
      </div>
    <% end %>

    <nav class="navbar is-black">
      <div class="navbar-brand">
        <%= link_to root_path, class: "navbar-item" do %>
          <h1 class="title">C1 グランプリ</h1>
        <% end %>
      </div>

      <% if user_signed_in? %>
        <div id="nabbarExampleTransparentExample" class="navbar-menu">
          <div class="navbar-item">
            <%= link_to "写真一覧", posts_path, class: "navbar-item button is-black" %>
          </div>
          <div class="navbar-item">
            <%= link_to "お題一覧", titles_path, class: "navbar-item button is-black" %>
          </div>
          <div class="navbar-item">
            <%= link_to "写真を投稿する", new_post_path, class: "navbar-item button is-black" %>
          </div>
          <div class="navbar-item">
            <%= link_to "お題を投稿する", new_title_path, class: "navbar-item button is-black" %>
          </div>
          <div class="navbar-end">
            <div class="navbar-item">
              <div class="field is-grouped">       
                <p class="control">
                  <p class="control">
                  <%= link_to "参加者一覧", users_path, class: "navbar-item button is-black"  %>
                </p>
               <p class="control">
                  <%= link_to "ランキング", ranks_path, class: "button is-black" %>
                  <%= link_to "マイページ", user_path(current_user), class: "button is-black" %>
                </p>
                <p class="control">
                  <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "button is-black" %>
                </p>
              </div>
            </div>
          </div>
        </div>
        <div id="nabbarExampleTransparentExample" class="navbar-menu">
      <% else %>
          <div class="navbar-item">
            <div class="field is-grouped">
              <p class="control">
                <%= link_to "ログイン", new_user_session_path, class: "button is-black" %>
              </p>
              <p class="control">
                <%= link_to "新規登録", new_user_registration_path, class: "button is-black" %>
              </p>
            </div>
          </div>
        </div>
      <% end %>

    </nav>
    <%= yield %>
  </body>
</html>
